.App {
  text-align: center;
  background-image: linear-gradient(180deg, rgb(27, 27, 27),  black 15%);
  color: white;
  height: 900px;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  height: 368px
}

.project-container-border {
  width: 80%;
  height: 400px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(135deg, red, purple 12%, black 12%, black 88%, purple 88%, red);
  padding: 15px;
  margin: auto;
  animation-duration: .3s;
  animation-iteration-count: 1;
}

.project-container-border:hover {
  animation-name: slide;
  animation-timing-function: ease-in;
}

@keyframes slide {
  0% {
    background: linear-gradient(135deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  10% {
    background: linear-gradient(153deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  20% {
    background: linear-gradient(171deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  30% {
    background: linear-gradient(189deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  40% {
    background: linear-gradient(207deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  50% {
    background: linear-gradient(225deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  60% {
    background: linear-gradient(243deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  70% {
    background: linear-gradient(261deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  80% {
    background: linear-gradient(279deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  90% {
    background: linear-gradient(297deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
  100% {
    background: linear-gradient(315deg, red, purple 15%, black 15%, black 85%, purple 85%, red);
  }
}

.project {
  width: 70%;
  text-align: left;
  padding: 20px;
}

.project-list {
  width: 30%;
  text-align: left;
  padding: 20px;
}